<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <title>Тема</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<section layout:fragment="content">
    <section class="py-5">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-4">
                        <h1 class="fw-bolder mb-1" th:text="${test.getTestName()}">Welcome to Blog Post!</h1>
                    </div>
                    <section class="mb-5">
                        <p class="fs-5 mb-4" th:utext="${test.getDesc()}"></p>
                        <form th:unless="${isPassed.isSuccess}"
                              style="background-color:rgba(240,240,240,0.8); padding:15px;"
                              class="question_blocks" method="post"
                              th:action="@{/test/test-submit/{id}(id = ${test.id})}">
                            <div class="card p-2 mb-2"
                                 th:text="${'Для сдачи теста нужно наборать ' + test.getMinGrade() + ' баллов'}"
                            />

                            <div style="display: flex; flex-direction:column; gap:6px; padding-bottom: 18px;"
                                 class="question_block" th:each="question, qIndex : ${test.getQuestions()}">
                                <p th:text="${question.getQuestionText()}"></p>
                                <input type="hidden" th:name="'questions[' + ${qIndex.index} + '].questionId'"
                                       th:value="${question.id}"/>
                                <div>
                                    <input type="radio" th:name="'questions['+ ${qIndex.index} + '].selectedAnswer'"
                                           th:value="1"
                                    />
                                    <label th:text="${question.firstAnswer}"/>                                    </label>

                                </div>
                                <div>
                                    <input type="radio" th:name="'questions['+ ${qIndex.index} + '].selectedAnswer'"
                                           th:value="2"
                                    />
                                    <label th:text="${question.secondAnswer}"/>


                                </div>
                                <div>
                                    <input type="radio" th:name="'questions['+ ${qIndex.index} + '].selectedAnswer'"
                                           th:value="3"
                                    />
                                    <label th:text="${question.thirdAnswer}"/>


                                </div>
                                <div>
                                    <input type="radio" th:name="'questions['+ ${qIndex.index} + '].selectedAnswer'"
                                           th:value="4"
                                    />
                                    <label th:text="${question.fourthAnswer}"/>


                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Отправить ответы</button>
                        </form>
                        <div style="height: 100px; display: flex; align-items:center; background-color:#92E689; border-radius:16px; border: 2px solid green"
                             th:if="${isPassed.isSuccess}">
                            <p style="margin:0; font-size: 24px; padding-left: 16px"
                               th:text="${'Поздравляю, вы успешно сдали этот с ' + isPassed.tries + ' попытки!'}"
                            />
                        </div>
                    </section>
                </div>
                <!-- Side widgets-->
            </div>
        </div>
    </section>
</section>
</body>
</html>